<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bull_project">
    <!-- permissions for call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kash_map"
        android:label="One Kashmir"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BULL_PROJECT"
        tools:targetApi="31">
        <activity
            android:name=".profile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user_profile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".pwd_complaint"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".contact_us"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".about_us"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".helpline"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".pwd_dashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".online_booking"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".hotels"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gulmarg"
            android:exported="false" />
        <activity
            android:name=".tourist_destination"
            android:exported="false" />
        <activity
            android:name=".tourism_dashboard"
            android:exported="false" />
        <activity
            android:name=".pdd_newconnection"
            android:exported="false" />
        <activity
            android:name=".pdd_suggestion"
            android:exported="false" />
        <activity
            android:name=".pdd_complaint"
            android:exported="false" />
        <activity
            android:name=".pdd_dashboard"
            android:exported="false" />
        <activity
            android:name=".phe_newconnection"
            android:exported="false" />
        <activity
            android:name=".phe_suggestion"
            android:exported="false" />
        <activity
            android:name=".phe_complaint"
            android:exported="false" />
        <activity
            android:name=".phe_dashboard"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".Forget_password"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>